.okmge { 
  border-right-width: 53px;
  border-left-width: 84px;
  border-left-width: 12px;
  margin-right: 69px;
  margin-bottom: 55px;
  border-top-width: 60px;
  font-size: 9px;
  margin-right: 25px;
  margin-left: 4px;
  margin-right: 26px;
  padding-right: 7px;
  margin-right: 62px;
  margin-top: 27px;
  border-left-width: 61px;
  padding-top: 92px;
  border-right-width: 71px;
  border-bottom-width: 82px;
  border-bottom-width: 61px;
  font-size: 72px;
  padding-right: 56px;
  padding-top: 10px;
  border-left-width: 35px;
  border-left-width: 91px;
  margin-left: 68px;
}
