.okmge { 
  border-right-width: 53px;
  border-left-width: 84px;
  border-left-width: 12px;
  margin-right: 69px;
  margin-bottom: 55px;
  border-top-width: 60px;
  font-size: 9px;
  margin-right: 25px;
}
